<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Timeseries and Datetime

_Authors: Samuel Stack (DC)_

---

### Learning Objectives
- Use the datetime library to represent dates as objects
- Calculate time differences with timedelta
- Use datetime objects in pandas on the UFO dataset

### Lesson Guide
- [The `datetime` library](#the-datetime-library)
- [`datetime` object](#datetime-object)
- [`timedelta`](#timedelta)
- [Load the UFO reports data](#load-the-ufo-reports-data)
- [Pandas' `pd.datetime`](#pandas-pddatetime)
	- [The `.dt` attribute](#the-dt-attribute)
- [Time stamps](#time-stamps)
- [Additional resources](#additional-resources)

# What is a *time series*?

**Definition:** A *series* of data points listed at successive points in time.

**Think of examples.**

![](images/dataframe.png)

**Time series are inevitably stored in different formats.**

---

![](images/weather1.png)

---

![](images/weather2.png)

# A Surprisingly (?) Frustrating Aspect of Working with Time

*Working with* **time**!!

- Measurements:
  - Year, month day
  - Day of week
  - Hour, minute, second, microsecond
- Policies:
  - Time zone, daylight savings

# Pythonic Dates

- Standard library
  - `date`
  - *`datetime`*
  - `time`
  - *`timedelta`*

[https://docs.python.org/3.6/library/datetime.html](https://docs.python.org/3.6/library/datetime.html)

<a id="the-datetime-library"></a>
## The `datetime` library
---

The python library `datetime` is great for dealing with time-related data. Pandas being Pandas has incorporated this `datetime` library into its own datetime series and objects.

We're going to review these data types and learn a little more about them.
- Datetime Object
- Datetime Series
- Time Stamp
- Time Delta

<a id="datetime-object"></a>
## `datetime` object
---

Below we can load in the datetime library. Using this we can create a datetime object by entering in the different components of the date as arguments.

In [24]:
# The Date time library is something you should already have because of Anaconda.
from datetime import datetime
# 
lesson_date=datetime(2012,12,21,12,21,12,59)

In [25]:
lesson_date

datetime.datetime(2012, 12, 21, 12, 21, 12, 59)

The components of the date are accessible via attributes of the object.

In [28]:
# A:
print('microsecond',lesson_date.microsecond)
print(lesson_date.day)
print(lesson_date.weekday())

microsecond 59
21
4

In [27]:
print("Microsecond ", lesson_date.microsecond)
print("Day ", lesson_date.day)
print(lesson_date.weekday())

dow = ['M', 'T', 'W', 'R', 'F', 'Sa', 'Su']
print(dow[lesson_date.weekday()])

Microsecond  59
Day  21
4
F

<a id="timedelta"></a>
## `timedelta`
---

Say we want to add time to a date or subtract time.  Maybe we are using time as an index and we want to get everything that happened a week before a specific observation.

We can use a timedelta object to shift (do arithmatic, more or less) a datetime object. Here's an example:

In [33]:
# Import timedelta from datetime library
from datetime import timedelta

offset=timedelta(days=1,seconds=20)
print(offset.days)
print(offset.microseconds)
# A:

1
0

In [32]:
offset

datetime.timedelta(1, 20)

In [35]:
print(datetime.now())

2017-11-16 10:28:57.405599

In [36]:
print(datetime.now()+offset)

2017-11-17 10:29:39.953727

In [39]:
print(datetime.now()-offset)

2017-11-15 10:29:25.132571

The `.now()` function of datetime will give you the datetime object of this very moment.

In [4]:
# A:

The current time is particularly useful when using timedeltas.

In [5]:
# A:

> _Note: The largest value a Time Delta can hold is 'Days'.  I.e. you can't say your want you an offset to be 2 years, 44 days and 12 hours.  You would have to manually convert the time of those years to be represented in days._

You can read more about that here in the timedeltas category.
https://docs.python.org/2/library/datetime.html

<a id="load-the-ufo-reports-data"></a>
## Load the UFO reports data
---

We can practice using datetime functions and objects with the UFO reports data.

In [40]:
# Get a dataset from the internets
import pandas as pd
ufo = pd.read_csv('http://bit.ly/uforeports')

In [41]:
# A:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

The "Time" column starts off as just an object.

In [8]:
# A:

<a id="pandas-pddatetime"></a>
## Pandas' `pd.datetime`
---

When using pandas we can convert columns of data from string objects into date objects with the `pd.to_datetime` function.

> **Note**: dates can be tricky to parse as they come in many formats. The `to_datetime` function comes with a keyword argument `infer_datetime_format` that can be particularly useful to parse dates.

In [42]:
# A:
pd.to_datetime(ufo.Time)

0       1930-06-01 22:00:00
1       1930-06-30 20:00:00
2       1931-02-15 14:00:00
3       1931-06-01 13:00:00
4       1933-04-18 19:00:00
5       1934-09-15 15:30:00
6       1935-06-15 00:00:00
7       1936-07-15 00:00:00
8       1936-10-15 17:00:00
9       1937-06-15 00:00:00
10      1937-08-15 21:00:00
11      1939-06-01 20:00:00
12      1939-06-30 20:00:00
13      1939-07-07 02:00:00
14      1941-06-01 13:00:00
15      1941-07-02 11:30:00
16      1942-02-25 00:00:00
17      1942-06-01 22:30:00
18      1942-07-15 01:00:00
19      1943-04-30 23:00:00
20      1943-06-01 15:00:00
21      1943-08-15 00:00:00
22      1943-08-15 00:00:00
23      1943-10-15 11:00:00
24      1944-01-01 10:00:00
25      1944-01-01 12:00:00
26      1944-01-01 12:00:00
27      1944-04-02 11:00:00
28      1944-06-01 12:00:00
29      1944-06-30 10:00:00
                ...
18211   2000-12-28 18:00:00
18212   2000-12-28 18:20:00
18213   2000-12-28 19:10:00
18214   2000-12-29 00:00:00
18215   2000-12-29 09:00:00
18216   2000-12-29 16:10:00
18217   2000-12-29 19:30:00
18218   2000-12-29 20:00:00
18219   2000-12-29 20:30:00
18220   2000-12-29 20:30:00
18221   2000-12-29 20:50:00
18222   2000-12-29 21:00:00
18223   2000-12-29 22:00:00
18224   2000-12-29 23:30:00
18225   2000-12-30 10:00:00
18226   2000-12-30 22:00:00
18227   2000-12-30 22:00:00
18228   2000-12-31 04:00:00
18229   2000-12-31 11:45:00
18230   2000-12-31 20:00:00
18231   2000-12-31 20:00:00
18232   2000-12-31 20:30:00
18233   2000-12-31 21:00:00
18234   2000-12-31 22:00:00
18235   2000-12-31 23:00:00
18236   2000-12-31 23:00:00
18237   2000-12-31 23:00:00
18238   2000-12-31 23:45:00
18239   2000-12-31 23:45:00
18240   2000-12-31 23:59:00
Name: Time, Length: 18241, dtype: datetime64[ns]

<a id="the-dt-attribute"></a>
### The `.dt` attribute

Pandas datetime columns have a `.dt` attribute that allows you to access attributes specific to the dates. For example:
```python
ufo.Time.dt.day
ufo.Time.dt.month
ufo.Time.dt.year
ufo.Time.dt.weekday_name
```

And many more.

In [10]:
# A:

<a id="time-stamps"></a>
## Time stamps
---

Timestamps are useful objects for comparisons. You can create a timestamp object with the `pd.to_datetime` function and a string specifying the date. These timestamps are useful when you need to do logical filtering with dates.

In [11]:
# A:

In [12]:
# Use that Time Stamp for a comparison.

<a id="additional-resources"></a>
## Additional resources
---
- search for .dt. on http://pandas.pydata.org/pandas-docs/stable/api.html for more information about pandas Datetime.